<form method="post">
    <input type="hidden" name="action" value="go"/>
    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}
    <div>
        <label for="name">Vardas:</label>
        <input type="text" id="name" name="name"/>
    </div>
    <div>
        <label for="message">Žinutė:</label>
        <textarea id="message" name="message" rows="5"></textarea>
    </div>
    <div class="controls">
        <input type="submit" value="Rašyti"/>
    </div>
</form>